<!DOCTYPE html>
<html>
<body>
    <div style="padding: 10px; background-color: white; border-color: royalblue; border-radius: 10px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <h1 style="color: royalblue; font-size: large; font-weight: bold; margin: 10px auto auto auto">Confirm you account</h1>
        <p style="color: midnightblue; margin: 10px 20px auto 20px">Dr Mr/Mrs. {0}. Please click the button below to confirm your account.</p>
        <a href="{1}" style="padding: 10px; border-radius: 5px; border: none; background-color: forestgreen; color:white; text-decoration: none">Confirm your email</a>
    </div>
</body>
</html>