<!DOCTYPE html>
<html>
<body style="margin: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="background-color: lightgreen; display: flex; flex-direction: row; flex-wrap: wrap; margin: 0; padding: 10px 50px;">
        <img src="https://www.iconpacks.net/icons/1/free-user-group-icon-296-thumb.png" width="100px" height="100px" />
        <h1>Reset your password</h1>
    </div>
    <div style="margin-top: 10px; margin-left: 50px; flex-wrap: wrap; display: flex; flex-direction: column;">
        <p>Dear Mr/Mrs. {0}. Please click the button below to reset your password.</p>
        <a href="{1}" style="margin-right: auto; background-color: forestgreen; text-decoration: none; padding: 10px 20px; border-radius: 20px; color:white">Reset password</a>
    </div>
</body>
</html>