<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasicWebLogin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasicWebLogin.styles.css" asp-append-version="true" />
    <!--Optional styles-->
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- SIDEBAR -->
    <button type="button" class="burger" onclick="toggleSidebar()">
        <span class="burger-icon"></span>
    </button>
    <div class="overlay"></div>
    <div class="sidebar">
        <div class="sidebar-username">@ViewData["SessionUser"]</div>
        <div class="sidebar-role">BasicLoginWebApp</div>
        <nav class="sidebar-menu">
            <button type="button">
                <a asp-controller="Home" asp-action="Index" style="text-decoration: none;">
                    <img src="../assets/icon-home.svg" />
                    <span>Home</span>
                </a>
            </button>
        </nav>
        <nav class="sidebar-menu bottom">
            <button type="button">
                <a asp-controller="Home" asp-action="LogOut" style="text-decoration: none;">
                    <img src="../assets/icon-lock.svg" />
                    <span>Log out</span>
                </a>
            </button>
        </nav>
    </div>

    <!-- CONTENT-->
    <div class="container">
        <br />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER -->
    <section>
        <footer class="top">
            @* <img src="../img/user.png" /> *@
        </footer>
        <footer class="bottom">
            <div class="legal">
                <span>© @DateTime.Now.Year All rights reserved. - Felipe Londoño García</span>
            </div>
        </footer>
    </section>

    <script type="text/javascript">
        const toggleSidebar = () => document.body.classList.toggle("open");
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>