* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: #E3F2FD;
    font-family: 'Comfortaa', sans-serif;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-size: cover;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    text-decoration: none;
    transition: ease 1s;
    border: none;
    border-radius: 20px;
    margin: 20px;
}

    .card:hover {
        font-size: larger;
        font-weight: bold;
        transform: scale(1.05);
        transition: ease 1s;
    }

button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.a-button {
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #1565C0;
}

.a-button:hover {
    transform: scale(2);
    transition: ease 0.5s;
    background-color: #1976D2;
    color: white;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    margin: 22px 0;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(120, 120, 120, 0.6);
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

body.open .overlay {
    opacity: 1;
    visibility: visible;
}

.burger {
    background-color: #64B5F6;
    border-radius: 30%;
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (width >= 500px) {
    .burger {
        display: none;
    }
}

.burger-avatar {
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

body.open .burger-avatar {
    translate: 40px 0;
    opacity: 0;
    visibility: hidden;
}

.burger-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../assets/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

body.open .burger-icon {
    background-image: url("../assets/icon-close.svg");
}

.sidebar {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background: #0D47A1;
    opacity: 0;
    visibility: hidden;
    filter: blur(10px);
    transition-property: filter, visibility, opacity;
    transition-duration: 0.6s;
}

@media (width >= 330px) {
    .sidebar {
        transition-property: translate;
    }
}

@media (width >= 400px) {
    .sidebar {
        translate: 100% 0;
        width: 250px;
        transition: 0.4s;
        border-left: 1px solid rgba(255, 255, 255, 0.16);
    }
}

@media (width >= 500px) {
    .sidebar {
        translate: 0 0;
        opacity: 1;
        visibility: visible;
        filter: blur(0);
    }
}

body.open .sidebar {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
    filter: blur(0);
}

.sidebar-username {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.96);
}

.sidebar-role {
    margin: 0 0 20px;
    font-size: 9px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.57);
}

.sidebar-menu {
    display: grid;
    width: 100%;
    padding: 10px 0;
    padding-left: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
}

@media (width >= 350px) {
    .sidebar-menu {
        padding-left: 0;
    }
}

.sidebar-menu > button > a {
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1;
    padding: 10px 20px;
}

.sidebar-menu > button > a > img {
    width: 17px;
    height: 17px;
}

.sidebar-menu > button > a > span {
    color: #f9f9f9;
    font-size: 11px;
    translate: 0 1px;
}



/*Footer*/
section {
    left: 0;
    bottom: 12px;
    width: 100%;
    background: #172940;
    margin-top: auto;
}

footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: auto 30px 0 30px;
}

@media (width < 620px) {
    footer {
        flex-direction: column;
    }

    footer.bottom {
        gap: 16px;
        flex-direction: column-reverse;
    }
}

footer > img {
    margin-top: 10px;
}

@media (width >= 620px) {
    footer {
        margin: 0 auto;
        max-width: 600px;
        padding: 0;
    }
}

footer {
    color: #a2b5cd;
}

footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
}

footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
}

.legal {
    font-size: 12px;
}

.legal > a {
    margin: 0 4px;
}

.legal > span {
    margin-right: 10px;
}

footer.bottom .links {
    display: flex;
    gap: 18px;
}

footer.bottom .links > a {
    font-size: 24px;
}

@media (width < 420px) {
    footer {
        text-align: center;
        align-items: center;
    }

    footer.top .links {
        grid-template-columns: 1fr;
    }

    footer.bottom {
        align-items: center;
    }

    .legal > span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
}
