@model BasicWebLogin.Models.LogIn
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot your password?</title>
    @*Here the page icon*@
    <link rel="icon" type="image/x-icon" href="~/img/user.png" />
    <link rel="stylesheet" href="~/css/LogIn.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login">
        @*Put here your logo*@
        <img src="~/img/user.png" />
        <h3>Forgot your password?</h3>
        <h2>Reset it here, please type your email</h2>
        <form asp-controller="LogIn" asp-action="ResetPassword" method="post" class="login-form">
            <input type="email" placeholder="Email" asp-for="Email" required/>
            <button type="submit">Reset your password</button>
            <a href="@Url.Action("LogIn", "LogIn")">Return</a>

            @if (ViewBag.Message != null)
            {
                <br />
                <br />
                <label>@ViewBag.Message</label>
            }
        </form>
    </div>
</body>
</html>
